body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Arima', cursive;
}
header{
    background-image: url(image/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height:100vh;
    text-align: center;
    color:antiquewhite;
}
.head-text{
    padding-top: 10%;
}
.header-h1{
    font-size: 45px;
}
.header-p{
    font-weight: 600;
    padding-bottom: 2%;
}
.header-btn{
    text-decoration: none;
    border: none;
    outline: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
}
.donate-today-sec{
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height:100vh;
}
.donate-today{
    text-align: center;
    padding-top: 4%;
}
.donate-today h1{
    font-weight: 900;
    font-size: 40px;
}
.donate-today p{
    font-weight: 600;
    padding-bottom: 1%;
}
.donate-amount-container{
    display: flex;
    margin:auto;
    width:50%;
    text-align: center;
}
.donate-amount{
    background-color: #f1f1f1;
    width: 100%;
    margin: 3%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 20px;
    font-weight:600;
    color:rgb(51, 48, 48);
    border-radius: 5px;
}
.donate-amount-default{
    background-color: #f8ccef;
    width: 100%;
    margin: 3%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 20px;
    font-weight:600;
    color:rgb(51, 48, 48);
    border-radius: 5px;
    border:2px solid #ff52dc;
}
.write-amount h2{
    margin:auto;
    width:50%;
    text-align: center;
    color: rgb(155, 154, 154);
}
.input{
    display: flex;
    margin:auto;
    width:50%;
    text-align: center;
    box-shadow: none;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid silver;
}
.donate-now-btn{
    padding-top: 2%;
    margin:auto;
    width:50%;
    text-align: center;
}
.donate-now-btn button{
    text-decoration: none;
    border: none;
    outline: none;
    background-image: linear-gradient(rgb(255, 143, 236),rgb(250, 96, 255));
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
.donate-section{
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height:100vh;
}
.donate-plan-header{
    margin: 0;
}
.donate-plan-header h1{
    font-size: 50px;
    font-weight: 800;
    margin: 0;
    padding-top: 10px;
}
.donate-plan-header p{
    font-weight: 600;
    padding-bottom: 2%;
    padding-top: 0;
    color:#808080;
    font-size: large;
}
.contain-food-shel-edu{
    display: flex;
    text-align:left;
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 20px;
    background-size: cover
}
.contain-food-shel-edu p{
    color:#696969;
    font-weight: 500;
}
.food{
    background-color: #add8e6;
    margin: 10px;
    padding: 3% 2%;
    border-radius: 5px;
    background-size: cover;
    width:600px;
}
.shelter{
    background-color: #ffe4e1;
    margin: 10px;
    padding: 3% 2%;
    border-radius: 5px;
    background-size: cover;
    width:600px;
}
.education{
    background-color: #ffe5b4;
    margin: 10px;
    padding: 3% 2%;
    border-radius: 5px;
    background-size: cover;
    width: 600px;
}
